
.index.title, .pesto.pesto.title {
    font-family: "Courier New", "Lucida Console", monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.index.title {
    color: rgb(251, 196, 255);
}

.index.image, .pesto.image {
    display: block;
    margin: auto;
}

.index.parent {
    text-align:left;
    list-style-position: inside;
}

.link {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
}


.pesto.home {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
}
